Collecting local
  Downloading local-1.0.0-py3-none-any.whl.metadata (1.9 kB)
Collecting ioutil (from local)
  Downloading ioutil-1.0.3-py3-none-any.whl.metadata (2.6 kB)
Collecting srutil (from local)
  Downloading srutil-1.0.3-py3-none-any.whl.metadata (1.9 kB)
Collecting pyarrow (from local)
  Downloading pyarrow-16.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Collecting toml (from ioutil->local)
  Downloading toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Collecting pandas (from ioutil->local)
  Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy>=1.16.6 (from pyarrow->local)
  Downloading numpy-2.0.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 8.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from srutil->local) (2.2.2)
Requirement already satisfied: requests in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from srutil->local) (2.32.3)
Collecting pyperclip (from srutil->local)
  Downloading pyperclip-1.9.0.tar.gz (20 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting wikipedia (from srutil->local)
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting speedtest-cli (from srutil->local)
  Downloading speedtest_cli-2.1.3-py2.py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: beautifulsoup4 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from srutil->local) (4.12.3)
Collecting tabulate (from srutil->local)
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: soupsieve>1.2 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from beautifulsoup4->srutil->local) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas->ioutil->local) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas->ioutil->local)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas->ioutil->local)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests->srutil->local) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests->srutil->local) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests->srutil->local) (2024.6.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->ioutil->local) (1.16.0)
Downloading local-1.0.0-py3-none-any.whl (10 kB)
Downloading ioutil-1.0.3-py3-none-any.whl (11 kB)
Downloading pyarrow-16.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 135.2 MB/s eta 0:00:00
Downloading srutil-1.0.3-py3-none-any.whl (13 kB)
Downloading numpy-2.0.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.0/19.0 MB 164.1 MB/s eta 0:00:00
Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 98.5 MB/s eta 0:00:00
Downloading speedtest_cli-2.1.3-py2.py3-none-any.whl (23 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 64.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 50.4 MB/s eta 0:00:00
Building wheels for collected packages: pyperclip, wikipedia
  Building wheel for pyperclip (setup.py): started
  Building wheel for pyperclip (setup.py): finished with status 'done'
  Created wheel for pyperclip: filename=pyperclip-1.9.0-py3-none-any.whl size=11003 sha256=ae987426265f08d001a479c583aab2949f8002859104afd6144388fdfa8e39f7
  Stored in directory: /home/gitpod/.cache/pip/wheels/e0/e8/fc/8ab8aa326e33bc066ccd5f3ca9646eab4299881af933f94f09
  Building wheel for wikipedia (setup.py): started
  Building wheel for wikipedia (setup.py): finished with status 'done'
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11679 sha256=e68fad5aef36b2d668f0f74256c9d38bd5a3f3274d61676e80ac39fc77499303
  Stored in directory: /home/gitpod/.cache/pip/wheels/63/47/7c/a9688349aa74d228ce0a9023229c6c0ac52ca2a40fe87679b8
Successfully built pyperclip wikipedia
Installing collected packages: speedtest-cli, pytz, pyperclip, tzdata, toml, tabulate, numpy, wikipedia, pyarrow, pandas, srutil, ioutil, local
Successfully installed ioutil-1.0.3 local-1.0.0 numpy-2.0.0 pandas-2.2.2 pyarrow-16.1.0 pyperclip-1.9.0 pytz-2024.1 speedtest-cli-2.1.3 srutil-1.0.3 tabulate-0.9.0 toml-0.10.2 tzdata-2024.1 wikipedia-1.4.0
